nav {
  background-color: #c8d9d5;
  border: 2px solid #9ab4ae;
  border-radius: 5px;
  height: 40px;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: #f8f4eb;
}

a:hover {
  color: #ffa54f;
}
